node_modules/
dist/
build/
.DS_Store
Thumbs.db
.vscode/
*.code-workspace
/vendor/
composer.lock
.idea/
wp-config.php
wp-content/uploads/
wp-content/plugins/
wp-content/upgrade/
wp-admin/
wp-includes/
.env
.env.local
*.local
*.log
.cache/
.sass-cache/
*.zip
*.tar.gz
.info/