*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-blue: #0088ff;
    --color-yellow: #ffd701;
    --color-yellow-2: #e5c100;
    --color-violet: #8e5aac;
    --color-pink: #e958ff;
    --color-green: #00ff89;
    --color-red: #f00;
    --color-white: #fff;
    --color-black: #000;
    --color-black-2: #1b1b1b;
    --color-lightgrey: #f4f4f4;

    --link-hover: #00437d;
    /* --bg-color: #000; */

    --grd: linear-gradient(50deg, #0079e3 0%, #add9ff 100%);
    --grd-2: linear-gradient(138deg, #0079e3 0%, #add9ff 100%);

    --container: 1920px;
    /* --container: 2540px; */
    --container-max: 2560px;
    --padding-max: 40px;
    --padding-min: 20px;

    --border-radius: 5px;
    --transition: all 0.2s ease;

    --index: calc(1vw + 1vh);
}

.hero-branding {
    position: relative;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    background: #0088ff;
    /* background: url(../images/hero-bg/digital-bg.jpg) center / cover no-repeat; */
}

@media (max-width: 1920px) {
    .hero-branding {
        padding-left: calc(20px + 20 * (100vw - 375px) / 1545);
        padding-right: calc(20px + 20 * (100vw - 375px) / 1545);
        padding-bottom: calc(20px + 20 * (100vw - 375px) / 1545);
    }
}
@media (max-width: 1024px) {
    .hero-branding {
        padding-top: calc(60px + 20 * (100vw - 375px) / 425);
        justify-content: space-between;
    }
}

/* ? branding */
.branding {
    background: var(--grd);
    /* padding-top: 40px; */
}

.branding-box {
    width: 100%;
    /* height: 100vh; */
    /* height: calc(var(--vh, 1vh) * 100); */
    /* height: 1080px; */
    height: 1140px;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* justify-content: center;
    align-items: center; */

    /* border: 1px solid grey; */
    position: relative;
    /* overflow: hidden; */
}
.branding-content {
    background: var(--color-white);
    border-radius: 40px;
    max-width: 500px;
    width: 100%;
    padding: 60px 48px;
    /* position: absolute; */
    position: relative;
    z-index: 10;
}
.branding-box:nth-child(1) .branding-content {
    margin-left: 350px;
    margin-bottom: 70px;
}
.branding-box:nth-child(2) .branding-content {
    margin-left: auto;
    margin-right: 150px;
    margin-bottom: 60px;
}
.branding-box:nth-child(3) .branding-content {
    margin-left: 80px;
    margin-bottom: 20px;
}
.branding-box:nth-child(4) .branding-content {
    margin-left: auto;
}
.branding-content__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 80%;
    color: var(--color-black);
    margin-bottom: 32px;
}
.branding-content__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: var(--color-black);
}

@media (max-width: 1920px) {
    .branding-box {
        /* height: calc(620px + 460 * (100vw - 375px) / 1545); */
        height: calc(620px + 520 * (100vw - 375px) / 1545);
    }
    .branding-content {
        border-radius: calc(32px + 8 * (100vw - 375px) / 1545);
        max-width: calc(350px + 150 * (100vw - 375px) / 1545);

        padding-top: calc(32px + 28 * (100vw - 375px) / 1545);
        padding-bottom: calc(32px + 28 * (100vw - 375px) / 1545);
        padding-left: calc(32px + 16 * (100vw - 375px) / 1545);
        padding-right: calc(32px + 16 * (100vw - 375px) / 1545);
    }
    .branding-content__title {
        font-size: calc(32px + 16 * (100vw - 375px) / 1545);
        margin-bottom: calc(16px + 16 * (100vw - 375px) / 1545);
    }
    .branding-content__text {
        font-size: calc(12px + 8 * (100vw - 375px) / 1545);
    }

    .branding-box:nth-child(1) .branding-content {
        /* margin-left: 350px;
        margin-bottom: 70px; */
        margin-left: calc(0px + 350 * (100vw - 800px) / 1120);
        margin-bottom: calc(0px + 70 * (100vw - 800px) / 1120);
    }
    .branding-box:nth-child(2) .branding-content {
        /* margin-left: auto;
        margin-right: 150px;
        margin-bottom: 60px; */
        margin-right: calc(0px + 150 * (100vw - 800px) / 1120);
        margin-bottom: calc(0px + 60 * (100vw - 800px) / 1120);
    }
    .branding-box:nth-child(3) .branding-content {
        /* margin-left: 80px;
        margin-bottom: 20px; */
        margin-left: calc(0px + 80 * (100vw - 800px) / 1120);
        margin-bottom: calc(0px + 20 * (100vw - 800px) / 1120);
    }
}

@media (max-width: 800px) {
    .branding-box:nth-child(1) .branding-content {
        margin-left: 0;
        margin-bottom: 0;
    }
    .branding-box:nth-child(2) .branding-content {
        margin-right: 0;
        margin-bottom: 0;
    }
    .branding-box:nth-child(3) .branding-content {
        margin-left: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 500px) {
    .branding-box:nth-child(1) .branding-content,
    .branding-box:nth-child(2) .branding-content,
    .branding-box:nth-child(3) .branding-content,
    .branding-box:nth-child(4) .branding-content {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

/* ? .branding-box */

.branding-lottie {
    /* border: 1px solid grey; */
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 1920px;
}
.branding-lottie {
    font-size: 32px;
}
@media (max-width: 1920px) {
    .branding-lottie {
        width: calc(520px + 1400 * (100vw - 375px) / 1545);
    }
}
