*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-blue: #0088ff;
    --color-yellow: #ffd701;
    --color-yellow-2: #e5c100;
    --color-violet: #8e5aac;
    --color-pink: #e958ff;
    --color-green: #00ff89;
    --color-red: #f00;
    --color-white: #fff;
    --color-black: #000;
    --color-lightgrey: #f4f4f4;

    --link-hover: #00437d;
    /* --bg-color: #000; */

    --grd: linear-gradient(50deg, #0079e3 0%, #add9ff 100%);
    --grd-2: linear-gradient(138deg, #0079e3 0%, #add9ff 100%);

    --container: 1920px;
    /* --container: 2540px; */
    --container-max: 2560px;
    --padding-max: 40px;
    --padding-min: 20px;

    --border-radius: 5px;
    --transition: all 0.2s ease;

    --index: calc(1vw + 1vh);
}

/* ? page Contacts */
.contacts {
    max-width: var(--container-max);

    margin: 0 auto;

    padding: 140px 40px 40px;
    position: relative;
}

.contacts .real-clock {
    color: var(--color-black);
}

.contacts .real-time::before {
    background: var(--color-blue);
}

.contacts__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
}
.contacts__item {
    width: 48%;
}
.contacts__item:nth-child(1) {
    order: 3;
}
.contacts__item:nth-child(2) {
    order: 1;
}
.contacts__item:nth-child(3) {
    /* display: flex; */
    /* justify-content: flex-end; */
    order: 2;
}
.contacts__item:nth-child(4) {
    /* display: flex; */
    /* justify-content: flex-end; */
    order: 4;
}

.contacts-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 680px;
}
.contacts__title {
    font-weight: 400;
    font-size: 96px;
    line-height: 80%;
    color: var(--color-black);
}
.contacts__desc {
    font-weight: 300;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--color-black);
}

/* ? contacts slider */

/* ? appointment-slider */
.contacts-slider {
    max-width: 900px;
    width: 100%;

    margin: 0;
}
swiper-wrapper {
    display: flex;
    gap: 20px;
}
.contacts-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 290px;
    cursor: pointer;
}
.contacts-slide__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;

    text-decoration-skip-ink: none;
    text-align: center;

    color: var(--color-contacts);
}
.contacts-slide.active .contacts-slide__title {
    text-decoration: underline;
}
.contacts-slide-images {
    position: relative;
}
.contacts-slide__img-face {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
}
.contacts-slide__img {
    transition: var(--transition);
}

.contacts-slider .swiper-slide {
    flex-shrink: unset;
}

.contacts-slide.active .contacts-slide__img-face {
    opacity: 1;
}

.contacts-slide.image-left .contacts-slide__img {
    transform: scaleX(1);
}
.contacts-slide.image-right .contacts-slide__img {
    transform: scaleX(-1);
}

.contacts-decor-1 {
    display: block;
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    background: url(../images/decor-circle-blue.svg) center / cover no-repeat;
    transform: rotate(-100deg);
    position: absolute;
    top: -250px;
    left: -250px;
    z-index: 1;
}
.contacts-decor-2 {
    display: block;
    width: 1380px;
    height: 1380px;
    border-radius: 100%;
    background: url(../images/decor-circle-blue.svg) center / cover no-repeat;
    /* transform: rotate(-100deg); */
    position: absolute;
    top: 10px;
    right: -700px;
    opacity: 0.5;
    z-index: 1;
}
@media (max-width: 1920px) {
    .contacts {
        padding-top: calc(90px + 50 * (100vw - 375px) / 1545);
        padding-left: calc(20px + 20 * (100vw - 375px) / 1545);
        padding-right: calc(20px + 20 * (100vw - 375px) / 1545);
    }

    .contacts-content {
        gap: calc(16px + 16 * (100vw - 375px) / 1545);
    }

    .contacts__title {
        font-size: calc(48px + 48 * (100vw - 375px) / 1545);
    }
    .contacts__desc {
        font-size: calc(16px + 8 * (100vw - 375px) / 1545);
    }

    .contacts-decor-1 {
        width: calc(500px + 500 * (100vw - 1000px) / 920);
        height: calc(500px + 500 * (100vw - 1000px) / 920);
        top: calc(-150px - 100 * (100vw - 1000px) / 920);
        left: calc(-150px - 100 * (100vw - 1000px) / 920);
    }
    .contacts-decor-2 {
        width: calc(800px + 580 * (100vw - 1000px) / 920);
        height: calc(800px + 580 * (100vw - 1000px) / 920);
        top: calc(-100px + 110 * (100vw - 1000px) / 920);
        right: calc(-300px - 400 * (100vw - 1000px) / 920);
    }
}

@media (max-width: 1440px) {
    .contacts__items {
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts__item {
        width: 100%;
    }
    .contacts__item:nth-child(1) {
        order: 1;
    }
    .contacts__item:nth-child(2) {
        order: 2;
        display: flex;
        justify-content: flex-end;
    }
    .contacts__item:nth-child(3) {
        order: 3;
        justify-content: center;
        display: flex;
    }
    .contacts__item:nth-child(4) {
        order: 4;
        justify-content: center;
        display: flex;
    }
    .real-time::before {
        left: unset;
        right: -20px;
        width: 10px;
        height: 10px;
    }
    .real-time,
    .real-date {
        text-align: right;
    }
}

@media (max-width: 1000px) {
    .contacts-decor-1,
    .contacts-decor-2 {
        display: none;
    }
}
@media (max-width: 800px) {
    .contacts {
        padding-left: 0;
        padding-right: 0;
    }
    .contacts__item:nth-child(1),
    .contacts__item:nth-child(2),
    .contacts__item:nth-child(4) {
        padding-left: calc(20px + 5 * (100vw - 375px) / 425);
        padding-right: calc(20px + 5 * (100vw - 375px) / 425);
    }
    .contacts-slider {
        /* padding-left: calc(20px + 5 * (100vw - 375px) / 425);
        padding-right: calc(20px + 5 * (100vw - 375px) / 425); */

        width: 100%;
    }
    .contacts-slider .swiper-slide {
        flex-shrink: 0;
        width: calc(220px + 60 * (100vw - 375px) / 425);
    }
    .contacts-slide {
        margin: 0 auto;
    }
    .swiper-wrapper {
        gap: 0px;
    }
}

/* ? contacts-form */

.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 60px;
    max-width: 900px;
    padding: 40px;
    background: var(--form-bg);
}
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form-group label {
    font-weight: 300;
    font-size: 19px;
    line-height: 110%;
    color: var(--color-black);
    margin-bottom: 5px;
}
.required-star {
    position: relative;
    align-self: flex-start;
}
.required-star::before {
    content: ' *';
    position: absolute;
    top: 0;
    right: -10px;
    color: var(--color-red);
}
.error-msg {
    color: var(--color-red);
    font-size: 16px;
    font-weight: 400;
}
.form-text {
    font-weight: 300;
    font-size: 19px;
    line-height: 110%;
    color: var(--color-black);
}
.contacts-form-btn {
    border-radius: 20px;
    max-width: 350px;
    width: 100%;
    height: 40px;
    background: var(--color-black);
    font-weight: 400;
    font-size: 19px;
    line-height: 110%;
    color: var(--color-white);
}
.field {
    border-radius: 20px;
    width: 100%;
    height: 40px;
    padding: 5px 16px;

    border: 1px solid transparent;
    outline: none;
    font-size: 18px;
    transition: border-color 0.12s;
    width: 100%;
}
.field:focus {
    border-color: grey;
}

.is-error {
    border-color: var(--color-red);
}
@media (max-width: 1920px) {
    .contacts {
        padding-top: calc(90px + 50 * (100vw - 375px) / 1545);
    }
    .form-group label {
        font-size: calc(12px + 5 * (100vw - 375px) / 1545);
    }
    .field {
        height: calc(32px + 8 * (100vw - 375px) / 1545);
        font-size: calc(14px + 4 * (100vw - 375px) / 1545);
        padding-left: calc(10px + 6 * (100vw - 375px) / 1545);
        padding-right: calc(10px + 6 * (100vw - 375px) / 1545);
    }
    .contacts-form {
        border-radius: calc(24px + 36 * (100vw - 375px) / 1545);

        padding: calc(20px + 20 * (100vw - 375px) / 1545);
    }
    .contacts-form {
        gap: calc(20px + 12 * (100vw - 375px) / 1545);
    }
    .error-msg {
        font-size: calc(12px + 4 * (100vw - 375px) / 1545);
    }
    .form-text {
        font-size: calc(12px + 5 * (100vw - 375px) / 1545);
    }
    .contacts-form-btn {
        max-width: calc(300px + 50 * (100vw - 375px) / 1545);

        height: calc(32px + 8 * (100vw - 375px) / 1545);

        font-size: calc(14px + 5 * (100vw - 375px) / 1545);
    }
}
@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }
    .contacts-form-btn {
        margin: 0 auto;
    }
    .contacts-form {
        gap: 20px;
    }
}
