*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('./fonts/Gilroy-Regular.woff2') format('woff2'),
        url('./fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-blue: #0088ff;
    --color-yellow: #ffd701;
    --color-yellow-2: #e5c100;
    --color-yellow-3: #e2b400;
    --color-violet: #8e5aac;
    --color-pink: #e958ff;
    --color-green: #00ff89;
    --color-red: #f00;
    --color-white: #fff;
    --color-black: #000;
    --color-black-2: #1b1b1b;
    --color-lightgrey: #f4f4f4;
    --color-grey: #7c7c7c;

    --link-hover: #00437d;

    --grd: linear-gradient(50deg, #0079e3 0%, #add9ff 100%);
    --grd-2: linear-gradient(138deg, #0079e3 0%, #add9ff 100%);

    --container: 1920px;
    --container-max: 2560px;
    --padding-max: 40px;
    --padding-min: 20px;

    --border-radius: 5px;
    --transition: all 0.2s ease;

    --header-accent-color: var(--color-white);
    --header-color: var(--color-black);

    --slide-btn-control-color: var(--color-lightgrey);
    --slide-text-color: var(--color-white);
    --slide-btn-color: var(--color-lightgrey);
    --slide-btn-hover-color: var(--color-black);
    --slide-btn-hover-bg-color: var(--color-white);
    --slide-btn-hover-border-color: var(--color-white);

    --index: calc(1vw + 1vh);
}

.wrapper.is-dark {
    --header-accent-color: var(--color-white);
    --header-color: var(--color-black);
}

.wrapper.is-light {
    --header-accent-color: var(--color-blue);
    --header-color: var(--color-white);
}

svg {
    display: block;
}

a {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    transition: var(--transition);
}

ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
    object-fit: cover;
}
button {
    font-family: inherit;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    transition: var(--transition);
}
button:hover,
button:focus,
button:active {
    outline: none;
}

html {
    height: 100%;
    overscroll-behavior: none;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: var(--color-white);
    background: var(--color-white);
    height: auto;
    width: 100%;
}
body.fixed {
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
    touch-action: none;
    -webkit-overflow-scrolling: auto;
}
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    z-index: 500;
    animation: preloader-hidden 0.2s ease 0.8s forwards;
}

@keyframes preloader-hidden {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
        z-index: -10;
    }
}

.preloader-logo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.preloader-text {
    max-width: 900px;

    margin-bottom: 6vh;

    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 80%;
    padding: 20px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.32);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.32) 50%, rgba(255, 255, 255, 0.32) 100%);
    background-size: 200% 100%;
    background-position: 100% 0;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: fillText 0.7s forwards ease;
}

@keyframes fillText {
    from {
        background-position: 100% 0;
    }

    to {
        background-position: 0% 0;
    }
}

@media (max-width: 1920px) {
    .preloader-text {
        font-size: calc(48px + 48 * (100vw - 375px) / 1545);
        max-width: 900px;
    }
}

@media (max-width: 1100px) {
    .preloader-text {
        max-width: 700px;
    }
}

@media (max-width: 500px) {
    .preloader-text {
        text-align: left;
    }
}
