*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-blue: #0088ff;
    --color-yellow: #ffd701;
    --color-yellow-2: #e5c100;
    --color-violet: #8e5aac;
    --color-pink: #e958ff;
    --color-green: #00ff89;
    --color-red: #f00;
    --color-white: #fff;
    --color-black: #000;
    --color-black-2: #1b1b1b;
    --color-lightgrey: #f4f4f4;

    --link-hover: #00437d;
    /* --bg-color: #000; */

    --grd: linear-gradient(50deg, #0079e3 0%, #add9ff 100%);
    --grd-2: linear-gradient(138deg, #0079e3 0%, #add9ff 100%);

    --container: 1920px;
    /* --container: 2540px; */
    --container-max: 2560px;
    --padding-max: 40px;
    --padding-min: 20px;

    --border-radius: 5px;
    --transition: all 0.2s ease;

    --index: calc(1vw + 1vh);
}

/* ? var portfolio */
.portfolio,
.portfolio.is-dark {
    --menu-border-color: var(--color-white);

    /* --slide-text-color: var(--color-white); */
}
.portfolio.is-light {
    --menu-border-color: var(--color-black);

    /* --slide-text-color: var(--color-black); */
}
.portfolio-slider-wrap,
.portfolio-slider-wrap.is-dark {
    --slide-btn-control-color: var(--color-lightgrey);

    --slide-btn-color: var(--color-lightgrey);
    --slide-btn-hover-color: var(--color-black);
    --slide-btn-hover-bg-color: var(--color-white);
    --slide-btn-hover-border-color: var(--color-white);
}
.portfolio-slider-wrap.is-light {
    --slide-btn-control-color: var(--color-black);

    --slide-btn-color: var(--color-black);
    --slide-btn-hover-color: var(--color-black);
    --slide-btn-hover-bg-color: var(--color-white);
    --slide-btn-hover-border-color: var(--color-black);
}

.portfolio-slider-contents,
.portfolio-slider-contents.is-dark {
    --slide-text-color: var(--color-white);
}
.portfolio-slider-contents.is-light {
    --slide-text-color: var(--color-black);
}

.digital-pin-wrap {
    height: 200vh;

    height: 300vh;
}

.hero-digital {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 10;
    pointer-events: none;
}
.hero-digital-wrap {
    position: absolute;
    inset: 0;
}
.hero-digital-sticky {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 100vh;
}
.portfolio {
    position: sticky;
    top: 0px;
    /* position: relative; */
    z-index: 5;
    height: 100vh;
    /* background: var(--color-black-2); */
    transform: translateZ(0);
}
.portfolio-wrap {
    position: absolute;
    inset: 0;
    transform: translateZ(0);
    width: 100%;
    height: 100vh;

    overflow: hidden;
}
.portfolio-sliders {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.portfolio-slider-wrap {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    will-change: transform;
}
.portfolio-slider-wrap:nth-child(1) {
    z-index: 5;
    opacity: 1;
}
.portfolio-slider-control {
    position: absolute;
    z-index: 50;

    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}
.portfolio-slider-btn-prev,
.portfolio-slider-btn-next {
    width: 30px;
    height: 30px;
    color: var(--slide-btn-control-color);
    flex-shrink: 0;
    cursor: pointer;
}
.portfolio-slider-btn-prev[disabled],
.portfolio-slider-btn-next[disabled] {
    cursor: auto;
    opacity: 0.24;
}
.portfolio-slider {
    width: 100%;
    height: 100%;

    background: var(--slider-bg);
}

.portfolio-slide {
    position: absolute;
    inset: 0;
}
.portfolio-slide__img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ? portfolio-contents */
.portfolio-content-wrap {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    width: 450px;
    height: 200px;
    user-select: none;
    /* border: 1px solid grey; */
    pointer-events: none;
}
.portfolio-slider-contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.portfolio-slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}

.portfolio-preloader-wrap {
    position: absolute;
    z-index: 100;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    will-change: transform;
}
.portfolio__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 80%;
    color: var(--color-lightgrey);
    position: relative;
    z-index: 2;
}
.portfolio-preloader-bg {
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--color-black-2);
}

.portfolio-slide-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 80%;
    color: var(--slide-text-color);
    margin-bottom: 32px;
}
.portfolio-slide-desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--slide-text-color);
}
/* ? portfolio-slider-links */

.portfolio-slider-links {
    position: absolute;
    z-index: 10;
    left: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.portfolio-slider-link {
    border: 1px solid var(--slide-btn-color);
    border-radius: 32px;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--slide-btn-color);
    background: transparent;
    position: relative;
    pointer-events: all;
}
.portfolio-slider-link-text {
    font-size: 14px;
}
.portfolio-slider-link:hover {
    background: var(--slide-btn-hover-bg-color);
    border-color: var(--slide-btn-hover-border-color);
    color: var(--slide-btn-hover-color);
}

.portfolio-link-svg {
    display: block;
    flex-shrink: 0;
}

.portfolio-link-icon-ios,
.portfolio-link-icon-android {
    width: 16px;
    height: 16px;
    position: relative;
    flex-shrink: 0;
    display: none;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.portfolio-link-icon-light,
.portfolio-link-icon-dark {
    display: block;
    width: 16px;
    height: 16px;
}
.portfolio-link-icon-dark {
    position: absolute;
    inset: 0;
    opacity: 0;
}
.portfolio-link-icon-ios .portfolio-link-icon-light {
    background-image: url(../images/icons/ios-light.svg);
}
.portfolio-link-icon-android .portfolio-link-icon-light {
    background-image: url(../images/icons/android-light.svg);
}
.portfolio-link-icon-ios .portfolio-link-icon-dark {
    background-image: url(../images/icons/ios-dark.svg);
}
.portfolio-link-icon-android .portfolio-link-icon-dark {
    background-image: url(../images/icons/android-dark.svg);
}

.is-light .portfolio-link-icon-dark,
.wrapper.is-light .portfolio-link-icon-dark {
    opacity: 1;
}
.is-light .portfolio-link-icon-light,
.wrapper.is-light .portfolio-link-icon-light {
    opacity: 0;
}
.is-dark .portfolio-slider-link:hover .portfolio-link-icon-light,
.wrapper.is-dark .portfolio-slider-link:hover .portfolio-link-icon-light {
    opacity: 0;
}
.is-dark .portfolio-slider-link:hover .portfolio-link-icon-dark,
.wrapper.is-dark .portfolio-slider-link:hover .portfolio-link-icon-dark {
    opacity: 1;
}

.portfolio-slider-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.swiper-pagination-bullet {
    display: block;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 100%;
    background: var(--slide-btn-control-color);
    opacity: 0.24;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
@media (max-width: 1920px) {
    .portfolio-content-wrap {
        left: calc(20px + 20 * (100vw - 375px) / 1545);
        width: calc(300px + 150 * (100vw - 375px) / 1545);
        height: calc(150px + 50 * (100vw - 375px) / 1545);
    }
    .portfolio-control-menu {
        right: calc(20px + 20 * (100vw - 375px) / 1545);
        width: calc(100px + 120 * (100vw - 375px) / 1545);
    }

    .portfolio-slider-control {
        bottom: calc(20px + 20 * (100vw - 375px) / 1545);
    }

    .portfolio-slide-title {
        font-size: calc(20px + 28 * (100vw - 375px) / 1545);
        margin-bottom: calc(8px + 24 * (100vw - 375px) / 1545);
    }
    .portfolio-slide-desc {
        font-size: calc(12px + 8 * (100vw - 375px) / 1545);
    }
    .portfolio-slider-links {
        left: calc(20px + 20 * (100vw - 375px) / 1545);
        bottom: calc(20px + 20 * (100vw - 375px) / 1545);
    }
    .portfolio-slider-link {
        border-radius: calc(20px + 12 * (100vw - 375px) / 1545);

        padding-top: calc(12px + 8 * (100vw - 375px) / 1545);
        padding-bottom: calc(12px + 8 * (100vw - 375px) / 1545);
        padding-left: calc(16px + 8 * (100vw - 375px) / 1545);
        padding-right: calc(16px + 8 * (100vw - 375px) / 1545);
    }

    .portfolio__title {
        font-size: calc(32px + 16 * (100vw - 375px) / 1545);
    }
}

.portfolio-menu-btn {
    width: 218px;
    height: 74px;

    cursor: pointer;
    border-radius: 12px;
    border: 1px solid transparent;
    position: relative;
}
.portfolio-menu-btn-image-dark {
    position: absolute;
    inset: 0;
    z-index: 5;
}
.portfolio .portfolio-menu-btn-image-dark,
.portfolio.is-dark .portfolio-menu-btn-image-dark {
    display: none;
}

.portfolio.is-light .portfolio-menu-btn-image-dark {
    display: block;
}
.portfolio .portfolio-menu-btn-image,
.portfolio.is-dark .portfolio-menu-btn-image {
    display: block;
}
.portfolio.is-light .portfolio-menu-btn-image {
    display: none;
}

/* ? Desktop */
@media (min-width: 1101px) {
    .portfolio-slider-qr {
        position: absolute;
        width: 180px;
        height: 180px;
        top: -200px;
        left: 0;
        max-width: 180px;
        opacity: 0;
        visibility: hidden;
    }
    .portfolio-slider-link:hover .portfolio-slider-qr {
        opacity: 1;
        visibility: visible;
        transition: var(--transition);
    }
    .portfolio-control-menu {
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);

        /* width: 220px; */
        z-index: 50;
        display: flex;
        flex-direction: column;
        justify-content: center;

        user-select: none;
    }
    .portfolio-menu-slider {
        height: 50vh;
    }
    .portfolio-menu-slider .swiper-wrapper {
        flex-direction: column;
    }

    .portfolio-menu-slider .swiper-slide-active .portfolio-menu-btn {
        border-color: var(--menu-border-color);
        transition: all 0.1s ease 0.2s;
    }
}

/* ? Mobile */

@media (max-width: 1100px) {
    .portfolio-slider-qr {
        display: none;
    }
    .portfolio-control-menu {
        position: absolute;
        z-index: 15;
        width: 100%;

        top: 120px;
        top: calc(60px + 60 * (100vw - 375px) / 725);

        left: 0;
        right: 0;
    }
    .portfolio-menu-slider {
        width: 100%;
        height: 60px;
    }

    .portfolio-menu-slider .swiper-slide {
        width: calc(120px + 40 * (100vw - 375px) / 725);
    }

    .portfolio-slide__img {
        width: auto;
        height: 70vh;
    }
    .portfolio-content-wrap {
        left: 50%;
        top: unset;
        bottom: calc(60px + 40 * (100vw - 375px) / 725);
        transform: translate(-50%, 0);
        max-width: calc(350px + 100 * (100vw - 375px) / 725);
        width: 100%;
    }
    .portfolio-slide-title,
    .portfolio-slide-desc {
        text-align: center;
    }

    .portfolio-slider-links {
        bottom: calc(70px + 20 * (100vw - 375px) / 725);
        left: 50%;
        transform: translateX(-50%);
    }
    .portfolio-link-svg {
        display: none;
    }
    .portfolio-link-icon-ios,
    .portfolio-link-icon-android {
        display: block;
    }
    /* .portfolio-menu-btn img {
        width: auto;
        height: calc(40px + 20 * (100vw - 375px) / 725);
    } */
    .portfolio-menu-btn {
        width: calc(120px + 40 * (100vw - 375px) / 725);
        height: calc(40px + 20 * (100vw - 375px) / 725);
        border: none;
    }
}
@media (max-width: 500px) {
    .portfolio-slide__img {
        /* height: auto; */
        /* top: 16vh;
        transform: translate(-50%, 0); */
        /* width: 100%;
        height: auto;
        top: 44%; */
        top: 44%;
        height: 50vh;
    }
    .portfolio-slide-content {
        padding: 0 20px;
    }

    .portfolio-menu-btn {
        width: 120px;
        height: 40px;
    }
}
@media (min-width: 1000px) and (max-height: 650px) {
    .portfolio-control-menu {
        top: 60px;
    }

    .portfolio-content-wrap {
        left: 30px;
        top: 50%;
        bottom: unset;
        transform: translate(0, -50%);
        max-width: 300px;
    }
    .portfolio-slide-title,
    .portfolio-slide-desc {
        text-align: left;
    }
    .portfolio-slide__img {
        height: 50vh;
    }
}
/* ? */
/* ? */
/* ? */
/* ? */
/* ? */
/* ? */
/* .portfolio-slide-content:nth-child(1),
.portfolio-slider-contents:nth-child(1) {
    display: block;
} */
/* .portfolio-slide-content, */
/* .portfolio-slider-contents, */
/* .portfolio-preloader-wrap,
.hero-card-wrap {
    display: none;
} */
