*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-blue: #0088ff;
    --color-yellow: #ffd701;
    --color-yellow-2: #e5c100;
    --color-violet: #8e5aac;
    --color-pink: #e958ff;
    --color-green: #00ff89;
    --color-red: #f00;
    --color-white: #fff;
    --color-black: #000;
    --color-black-2: #1b1b1b;
    --color-lightgrey: #f4f4f4;

    --link-hover: #00437d;
    /* --bg-color: #000; */

    --grd: linear-gradient(50deg, #0079e3 0%, #add9ff 100%);
    --grd-2: linear-gradient(138deg, #0079e3 0%, #add9ff 100%);

    --container: 1920px;
    /* --container: 2540px; */
    --container-max: 2560px;
    --padding-max: 40px;

    --padding-min: 20px;

    --border-radius: 5px;
    --transition: all 0.2s ease;

    --index: calc(1vw + 1vh);
}

/* ? hero-equipment */
/* ? hero-equipment */
/* ? hero-equipment */

/* ? test */

/* .video-test {
    position: sticky;
    top: 0;
}
.video-box {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #0088ff;
}
.video-box span {
    font-size: 40px;
}
.hero-equipment {
    height: auto;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 50vh;
    background: coral;
    display: flex;
    flex-direction: column;
    padding-top: 300px;
    padding-bottom: 50px;
}
.slider {
    width: 400px;
    height: 600px;
    border: 4px solid grey;
}

.receipt {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 200px;
    height: 800px;
    background: white;
}
.receipt {
    width: 200px;
    height: 800px;
    position: static;
    background: white;
} */

/* ? test-end */

.video-sticky-wrap {
    /* position: sticky; */
    position: relative;
    top: 0;
    width: 100%;
    pointer-events: none;
}
.equipment-video {
    position: absolute;
    /* inset: 0; */
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    object-fit: cover;
    pointer-events: none;
}
.hero-equipment {
    position: relative;
    max-width: var(--container-max);
    width: 100%;
    margin: 0 auto;
    height: calc(var(--vh, 1vh) * 100);
    /* min-height: calc(var(--vh, 1vh) * 100); */
    display: flex;
    /* padding: 0px 40px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 10vh; */
    /* padding-bottom: 40px; */
    pointer-events: none;
}

/* ? receipt-wrap  */
.receipt-wrap {
    overflow: hidden;
    /* height: 1000px; */
    /* height: 170px; */
    width: 300px;
    position: absolute;
    left: 0;
    bottom: 0;
    /* pointer-events: none; */
}
.receipt-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/equipment/receipt-bg.svg);
    background-position: top center;
    background-repeat: repeat-x;
    background-size: cover;
    z-index: 1;
}
.receipt {
    /* width: 300px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* height: auto; */
    /* height: 100%; */
    /* height: 600px; */

    /* background: var(--color-pink); */
    /* transform: translateY(95%); */

    color: var(--color-black);

    padding: 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* position: relative; */
    z-index: 2;
}

.receipt-item {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
.receipt-item:last-child {
    padding-bottom: 50px;
}
.receipt-item-row {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.receipt-item-row.dashed {
    border-bottom: 1px dashed var(--color-black);
}
.receipt-logo {
    font-weight: 500;
    font-size: 32px;
    line-height: 110%;
    text-transform: lowercase;
}
.receipt-date {
    font-weight: 400;
    font-size: 24px;

    text-transform: uppercase;
    align-self: flex-end;
}
.receipt-text {
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
}

.receipt-item-row-product {
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.receipt-item-row-code {
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}
.receipt-item-total {
    padding-top: 90px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed var(--color-black);
    /* padding-bottom: 34px; */
}
.receipt-item-total .receipt-text:nth-child(2) {
    padding-left: 20px;
}
.receipt-stars {
    display: block;
    width: 100%;
    height: 20px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 12px;
}
.receipt-stars::before {
    content: '**********************';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    font-weight: 300;
    font-size: 30px;
    /* text-transform: uppercase; */
    /* white-space: nowrap; */
}
.receipt-barcode {
    display: block;
    width: 100%;
    height: 40px;
    background: url(../images/equipment/barcode.png) center / cover no-repeat;
    margin-bottom: 6px;
}

.receipt-item-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
    margin: 24px 0px;
    border-bottom: 1px dashed var(--color-black);
}
@media (max-width: 1920px) {
    .hero-equipment {
        /* padding-left: calc(20px + 20 * (100vw - 375px) / 1545);
        padding-right: calc(20px + 20 * (100vw - 375px) / 1545); */
    }
    .receipt-wrap {
        width: calc(250px + 50 * (100vw - 375px) / 1545);
    }

    .receipt {
        padding-left: calc(15px + 5 * (100vw - 375px) / 1545);
        padding-right: calc(15px + 5 * (100vw - 375px) / 1545);
        /* padding-bottom: calc(15px + 35 * (100vw - 375px) / 1545); */
    }
    .receipt-item:last-child {
        padding-bottom: calc(15px + 35 * (100vw - 375px) / 1545);
    }

    .receipt-logo {
        font-size: calc(26px + 8 * (100vw - 375px) / 1545);
    }
    .receipt-date {
        font-size: calc(20px + 4 * (100vw - 375px) / 1545);
    }

    .receipt-text {
        font-size: calc(14px + 3 * (100vw - 375px) / 1545);
    }

    .receipt-item-row-product {
        max-width: calc(170px + 30 * (100vw - 375px) / 1545);
    }
    .receipt-item-row-code {
        max-width: calc(100px + 20 * (100vw - 375px) / 1545);
        margin-left: calc(40px + 10 * (100vw - 375px) / 1545);
    }
    .receipt-item-total {
        padding-top: calc(60px + 30 * (100vw - 375px) / 1545);
    }

    .receipt-stars::before {
        font-size: calc(25px + 5 * (100vw - 375px) / 1545);
    }

    .receipt-barcode {
        height: calc(34px + 6 * (100vw - 375px) / 1545);
    }

    .receipt-item-info {
        margin-top: calc(15px + 9 * (100vw - 375px) / 1545);
        margin-bottom: calc(15px + 9 * (100vw - 375px) / 1545);
    }
}

@media (max-width: 500px) {
    .receipt {
        /* padding: 15px; */
        /* gap: 15px; */
    }
    .receipt-item:last-child {
        padding-bottom: 15px;
    }
    .receipt-item-row {
        padding: 15px 0;
    }
    .receipt-item-total .receipt-text:nth-child(2) {
        padding-left: 15px;
    }
}

/* .hero-equipment {
    min-height: calc(var(--vh, 1vh) * 100);
    
} */

/* ? .equipment-slider */
.equipment-slider {
    width: 700px;
    height: 800px;
    /* border: 1px solid grey; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipment-slider-btn-prev,
.equipment-slider-btn-next {
    width: 69px;
    height: 69px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    /* background: rgba(255, 255, 255); */
    /* background: rgba(255, 255, 255, 0.5);
    border-radius: 100%; */
    pointer-events: all;
}
.equipment-slider-btn-prev[disabled],
.equipment-slider-btn-next[disabled] {
    cursor: auto;
    opacity: 0.35;
}
.equipment-slider-btn-prev {
    left: 0;
}
.equipment-slider-btn-next {
    right: 0;
}

.equipment-slider-wrap {
    overflow: hidden;
    position: relative;
    border: 1px solid var(--color-white);
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 480px;
    height: 100%;
    padding: 40px;
}
.equipment-slide-general-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.equipment-slide-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 80%;
    text-transform: uppercase;
}
.equipment-slide-row {
    display: flex;
    justify-content: space-between;
}
.equipment-slide-row-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 80%;
    text-transform: uppercase;
}

.equipment-slides {
    position: relative;
}

.equipment-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    /* z-index: 1; */
}
/* .equipment-slide:nth-child(1) {
    opacity: 1;
} */
.equipment-slide-num {
    font-weight: 400;
    font-size: 85px;
    line-height: 80%;
    margin-bottom: 20px;
    display: block;
}
.equipment-slide-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    display: block;
}

.scanning {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    inset: 0;
    /* display: flex;
    align-items: center; */
}
.scanner {
    width: 100%;
    height: 2px;
    background: rgba(255, 0, 0, 0.5);
    opacity: 0;
}
.scanner-bg {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background: linear-gradient(180deg, rgba(255, 0, 0, 0.12) 0%, rgba(255, 0, 0, 0) 100%); */
    background: linear-gradient(180deg, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.25) 50%, rgba(255, 0, 0, 0.25) 50%, rgba(255, 0, 0, 0) 100%);

    opacity: 0;
    /* animation: scan 0.3s ease-in-out 2s; */
}

/* @keyframes scan {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

@media (max-width: 1920px) {
    .equipment-slider {
        width: calc(450px + 250 * (100vw - 500px) / 1420);
        height: calc(560px + 240 * (100vw - 375px) / 1545);
    }

    .equipment-slider-btn-prev,
    .equipment-slider-btn-next {
        width: calc(32px + 37 * (100vw - 375px) / 1545);
        height: calc(32px + 37 * (100vw - 375px) / 1545);
    }

    .equipment-slider-wrap {
        border-radius: calc(28px + 12 * (100vw - 375px) / 1545);
        width: calc(335px + 145 * (100vw - 375px) / 1545);
        padding: calc(30px + 10 * (100vw - 375px) / 1545);
    }
    .equipment-slide-general-content {
        gap: calc(15px + 5 * (100vw - 375px) / 1545);
    }

    .equipment-slide-title {
        font-size: calc(16px + 8 * (100vw - 375px) / 1545);
    }
    .equipment-slide-row-text {
        font-size: calc(16px + 8 * (100vw - 375px) / 1545);
    }
    .equipment-slide-num {
        font-size: calc(48px + 37 * (100vw - 375px) / 1545);
        margin-bottom: calc(15px + 5 * (100vw - 375px) / 1545);
    }

    .equipment-slide-text {
        font-size: calc(14px + 6 * (100vw - 375px) / 1545);
    }
    .scanner-bg {
        height: calc(260px + 140 * (100vw - 375px) / 1545);
    }
}

/* ? sticky */
@media (max-width: 1250px) {
    .video-sticky-wrap {
        position: sticky;
    }
    .hero-equipment {
        height: auto;
        min-height: calc(var(--vh, 1vh) * 100);
        padding: 70px 0 60px;
    }
    .receipt-wrap {
        position: relative;
    }
    .receipt {
        flex-direction: column-reverse;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .receipt-bg {
        transform: rotate(180deg);
    }
    /* ? */
    /* ? */
    /* ? */
    /* ? */
    /* ? */
    /* ? */

    /* .receipt {
        padding: calc(15px + 5 * (100vw - 375px) / 875);
    } */
    .receipt-item:last-child {
        padding-bottom: calc(15px + 5 * (100vw - 375px) / 875);
    }
    .receipt-item:nth-child(1) {
        flex-direction: column-reverse;
    }
    .receipt-item-total {
        flex-direction: column-reverse;
        padding-top: 12px;
        padding-bottom: 60px;
        border-bottom: none;
        border-top: 1px dashed var(--color-black);
    }
    .receipt-stars {
        margin-top: 0px;
    }
    .receipt-barcode {
        margin-top: 15px;
    }
    .receipt-item:nth-child(7) {
        flex-direction: column-reverse;
    }
    .receipt-item-info {
        flex-direction: column-reverse;
    }
    .receipt-item:nth-child(7) .receipt-text:nth-child(1) {
        order: 2;
        margin-bottom: 15px;
    }
    .receipt-item-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 0;
        margin: 15px 0 0;
        border-bottom: none;
    }
    .receipt-item:nth-child(7) .receipt-item-info .receipt-text:nth-child(1) {
        margin: 0;
    }
}

@media (max-height: 800px) {
    .video-sticky-wrap {
        position: sticky;
    }
    .hero-equipment {
        height: auto;
        min-height: calc(var(--vh, 1vh) * 100);
        padding: 70px 0 60px;
    }
    .receipt-wrap {
        position: relative;
    }
    .receipt {
        flex-direction: column-reverse;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .receipt-bg {
        transform: rotate(180deg);
    }
    .hero-equipment {
        height: auto;
        min-height: calc(var(--vh, 1vh) * 100);
        padding: 70px 0 60px;
    }
    .hero-equipment {
        justify-content: flex-start;
    }
    .equipment-slider {
        max-width: 330px;
        width: 100%;
        height: 76vh;
        max-height: 560px;
    }
    .equipment-slider-wrap {
        border-radius: 28px;
        max-width: 330px;
        width: 100%;
        padding: 20px;
    }

    .equipment-slider-btn-prev,
    .equipment-slider-btn-next {
        width: 32px;
        height: 32px;
    }

    .equipment-slide-general-content {
        gap: 15px;
    }

    .equipment-slide-title {
        font-size: 16px;
    }
    .equipment-slide-row-text {
        font-size: 16px;
    }
    .equipment-slide-num {
        font-size: 48px;
        margin-bottom: 15px;
    }

    .equipment-slide-text {
        font-size: 14px;
    }
    .scanner-bg {
        height: 260px;
    }
    .equipment-slider-btn-prev {
        left: 12px;
    }

    .equipment-slider-btn-next {
        right: 12px;
    }
    /* ? receipt-wrap */

    .receipt-wrap {
        width: 250px;
    }

    .receipt-item:last-child {
        padding-bottom: 15px;
    }

    .receipt-logo {
        font-size: 26px;
    }
    .receipt-date {
        font-size: 20px;
    }

    .receipt-text {
        font-size: 14px;
    }

    .receipt-item-row-product {
        max-width: 170px;
    }
    .receipt-item-row-code {
        max-width: 100px;
        margin-left: 40px;
    }
    .receipt-item-total {
        padding-top: 60px;
    }

    .receipt-stars::before {
        font-size: 25px;
    }

    .receipt-barcode {
        height: 34px;
    }

    .receipt-item-info {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .receipt-item-info {
        padding-bottom: 15px;
    }

    .receipt {
        /* padding-left: calc(15px + 5 * (100vw - 375px) / 875); */
        padding: calc(15px + 5 * (100vw - 375px) / 875);
    }
    .receipt-item:nth-child(1) {
        flex-direction: column-reverse;
    }
    .receipt-item-total {
        flex-direction: column-reverse;
        padding-top: 12px;
        padding-bottom: 60px;
        border-bottom: none;
        border-top: 1px dashed var(--color-black);
    }
    .receipt-stars {
        margin-top: 0px;
    }
    .receipt-barcode {
        margin-top: 15px;
    }
    .receipt-item:nth-child(7) {
        flex-direction: column-reverse;
    }
    .receipt-item-info {
        flex-direction: column-reverse;
    }
    .receipt-item:nth-child(7) .receipt-text:nth-child(1) {
        order: 2;
        margin-bottom: 15px;
    }
    .receipt-item-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 0;
        margin: 15px 0 0;
        border-bottom: none;
    }
    .receipt-item:nth-child(7) .receipt-item-info .receipt-text:nth-child(1) {
        margin: 0;
    }
}
@media (max-width: 500px) {
    .hero-equipment {
        justify-content: flex-start;
    }
    .equipment-slider-wrap,
    .equipment-slider {
        max-width: 350px;
        width: 100%;
    }
    .equipment-slider-btn-prev {
        left: 12px;
    }

    .equipment-slider-btn-next {
        right: 12px;
    }

    .receipt {
        padding: 15px;
    }
    .equipment-slider {
        max-width: 330px;
        width: 100%;
        height: 70vh;
        max-height: 560px;
    }
    .svg-barcode {
        max-width: 200px;
    }
}
@media (max-height: 700px) {
    .equipment-slider {
        max-width: 300px;

        height: 65vh;
    }
}
