*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-blue: #0088ff;
    --color-yellow: #ffd701;
    --color-violet: #8e5aac;
    --color-pink: #e958ff;
    --color-green: #00ff89;
    --color-white: #fff;
    --color-black: #000;
    --color-lightgrey: #f4f4f4;

    --link-hover: #00437d;
    /* --bg-color: #000; */

    --grd: linear-gradient(50deg, #0079e3 0%, #add9ff 100%);
    --grd-2: linear-gradient(138deg, #0079e3 0%, #add9ff 100%);

    --container: 1920px;
    /* --container: 2540px; */
    --container-max: 2560px;
    --padding-max: 40px;
    --padding-min: 20px;

    --border-radius: 5px;
    --transition: all 0.2s ease;

    --index: calc(1vw + 1vh);
}

/* ? hero */
.hero {
    position: relative;
}
.hero-inner {
    /* height: 100%; */
    /* height: 100vh; */
    height: calc(var(--vh, 1vh) * 100);
    /* height: 100dvh; */
    /* height: 100vh;
    height: 100dvh;
    height: calc(var(--vh, 1vh) * 100); */

    padding: 260px 0px 40px;
}
.main-video-wrap {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
/* .main-video-wrap::before {
    content: '';
    position: absolute;
    inset: 0;
    background: green;
    z-index: 10;
    pointer-events: none;
    touch-action: none;
} */
.main-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
    z-index: 1;
}
.hero-content-box {
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}
.hero-content {
    max-width: 620px;
}

.hero__title,
.hero-slide__title {
    font-weight: 400;
    font-size: 96px;
    /* line-height: 100%; */
    line-height: 80%;
    margin-bottom: 32px;
}
.hero__desc,
.hero-slide__desc {
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
}

.hero-thumbs-wrap {
    position: relative;
    z-index: 20;
}
/* ? hero-thumbs */
.hero-thumbs {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    gap: 24px;

    /* max-width: 50%; */
}
.hero-thumb:hover {
    opacity: 0.7;
}
/* ? hero-slider  */
.hero-slider {
    position: absolute;
    inset: 0;
    width: 100%;
    /* height: 100vh; */
    height: 100%;

    /* background: grey; */
    /* z-index: 5; */
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
    /* clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 0%); */
    /* z-index: 10; */
    /* clip-path: inset(0% 100% 0% 0%); */
    overflow: hidden;
    pointer-events: none;
    display: block;
}
.hero-slide {
    display: block;
    /* background: green; */
    position: absolute;
    inset: 0;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    /* padding: 40px; */
    padding: 260px 40px 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 0% 100%); */

    /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
    /* clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); */
    clip-path: inset(0% 100% 0% 0%);
    /* display: none; */

    /* transform: translateX(-100%); */

    max-width: var(--container-max, 2560px);
    margin: 0 auto;

    z-index: 15;
}

.hero-slide-content {
    max-width: 690px;
    /* max-width: 780px; */
    /* background: grey; */
    position: relative;
    z-index: 10;
}

/* ? video */

.hero-slide-video {
    position: absolute;
    inset: 0;
    z-index: 5;
    background: var(--color-blue);
    pointer-events: none;
}

.deferred-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ? real clock */
.real-clock {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-weight: 400;
    font-size: 19px;
    line-height: 110%;
    color: var(--color-white);
    padding-left: 35px;
    position: relative;
}
.real-time {
    position: relative;
}
.real-time::before {
    content: '';
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-white);
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

@media (max-width: 1920px) {
    .hero-inner,
    .hero-slide {
        padding-top: calc(90px + 170 * (100vw - 375px) / 1545);
        /* padding-left: calc(20px + 20 * (100vw - 375px) / 1545);
        padding-right: calc(20px + 20 * (100vw - 375px) / 1545); */
        padding-bottom: calc(20px + 20 * (100vw - 375px) / 1545);
    }
    .real-clock {
        gap: calc(0px + 10 * (100vw - 375px) / 1545);

        font-size: calc(14px + 5 * (100vw - 375px) / 1545);

        /* padding-left: 35px; */
        padding-left: calc(20px + 15 * (100vw - 375px) / 1545);
    }

    .real-time::before {
        width: calc(10px + 8 * (100vw - 375px) / 1545);
        height: calc(10px + 8 * (100vw - 375px) / 1545);
        /* left: -35px; */
        left: calc(-20px - 15 * (100vw - 375px) / 1545);
    }

    .hero__title,
    .hero-slide__title {
        font-size: calc(48px + 48 * (100vw - 375px) / 1545);

        margin-bottom: calc(16px + 16 * (100vw - 375px) / 1545);
    }
    .hero__desc,
    .hero-slide__desc {
        font-size: calc(16px + 8 * (100vw - 375px) / 1545);
    }
    .hero-content {
        max-width: calc(330px + 290 * (100vw - 375px) / 1545);
    }
    .hero-slide-content {
        max-width: calc(330px + 360 * (100vw - 375px) / 1545);
    }
    .hero-thumbs {
        gap: calc(12px + 12 * (100vw - 375px) / 1545);
    }
}
@media (max-width: 1200px) {
    .hero-inner {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 50px;
    }
    .hero-content-box {
        /* height: auto; */
        height: 100%;
    }
    .hero-content {
        order: 1;
        margin-bottom: auto;
    }
    .real-clock {
        order: 2;
        align-self: flex-end;
        padding-left: 0;
        padding-right: 20px;
    }

    .hero-thumbs-wrap {
        position: relative;
        /* order: 3; */
        align-self: flex-end;
    }
    .hero-thumbs {
        position: relative;
    }
    .hero-slide {
        justify-content: flex-start;
    }

    .hero__title,
    .hero__desc {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .real-time {
        text-align: right;
    }
    .real-time::before {
        left: unset;
        right: -20px;
        width: 10px;
        height: 10px;
    }
}
@media (max-width: 500px) {
    .hero-content {
        max-width: 100%;
    }
    .hero-slide-content {
        max-width: 100%;
    }
}
@media (max-width: 375px) {
    .real-clock {
        gap: 0;
    }
}
/* ? */

/* ? recommendations */
/* ? recommendations */
/* ? recommendations */
/* ? recommendations */
/* ? recommendations */
/* ? recommendations */
/* ? recommendations */
/* ? recommendations */
/* ? recommendations */
/* ? recommendations */
/* ? recommendations */
/* --transition: 420ms cubic-bezier(0.2, 0.9, 0.2, 1); */
/* 

.recommendations {
    position: relative;
    z-index: 5;
    height: calc(var(--vh, 1vh) * 100);
}
.recommendations-cards {
    max-width: var(--container);
    padding: 0 40px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 10;
}
.recommendations-card {
    position: relative;
    width: 500px;

    height: 100%;
    max-height: 80px;

    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    cursor: default;

    --transition: 420ms cubic-bezier(0.2, 0.9, 0.2, 1);
    transition: height var(--transition) 0.2s;

    will-change: transform, height;
}

.recommendations-card:nth-child(2) {
    color: var(--color-white);
}

.recommendations-card.show {
    max-height: 500px;
    transition: all var(--transition);
}

.recommendations-card:nth-child(1) {
    --bg-color-card: var(--color-yellow);
    align-self: flex-start;
    order: 3;
}
.recommendations-card:nth-child(2) {
    --bg-color-card: var(--color-pink);
    order: 2;
}
.recommendations-card:nth-child(3) {
    --bg-color-card: var(--color-green);
    align-self: flex-end;
    order: 1;
}
.recommendations-card-content {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}
.recommendations-card:nth-child(1) .recommendations-card-content {
    background-image: url(../images/home/card-bg-3.png);
}
.recommendations-card:nth-child(2) .recommendations-card-content {
    background-image: url(../images/home/card-bg-2.png);
}
.recommendations-card:nth-child(3) .recommendations-card-content {
    background-image: url(../images/home/card-bg-1.png);
}

.recommendations-card-content {
    width: 100%;
    height: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
    border-radius: 60px;
}
.recommendations-card.show .recommendations-card-content {
    transition: all var(--transition);

    opacity: 1;
}

.card-svg-bg {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 1;
    display: none;
}
.card-svg-bg-mob {
    display: none;
}
.recommendations-card-image {
    overflow: hidden;
    border-radius: 50px;

    transition: opacity 0.1s ease;
}

.recommendations-card__img {
    border-radius: 50px;
    position: relative;
    z-index: 5;
}

.recommendations-card__text {
    position: relative;
    z-index: 5;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;

    width: 65%;
    align-self: flex-end;
}

.recommendations-card-btn {
    display: flex;
    gap: 24px;
}
.recommendations-card__btn-icon {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color-card);
    border-radius: 100%;
    flex-shrink: 0;
}
.card-svg-icon {
    width: 36px;
    height: 36px;
    opacity: 1;

    transition: opacity 0.1s ease-in-out 0.2s;
}

.card-svg-icon-hidden {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.recommendations-card.show .card-svg-icon {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.recommendations-card.show .card-svg-icon-hidden {
    opacity: 1;
    transition: opacity 0.1s ease-in-out 0.2s;
}

.recommendations-card__btn-wrap {
    padding: 10px;
    border-radius: 60px;
    background: var(--bg-color-card);
    cursor: default;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.1s ease-in-out 0s;
}
.recommendations-card.show .recommendations-card__btn-wrap {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.recommendations-card__btn-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    white-space: nowrap;
}

@media (max-width: 1920px) {
    .recommendations {
        padding-left: calc(20px + 20 * (100vw - 375px) / 1545);
        padding-right: calc(20px + 20 * (100vw - 375px) / 1545);
    }

    .recommendations-card-content {
        height: calc(335px + 165 * (100vw - 375px) / 1545);
    }
    .recommendations-card {
        width: calc(335px + 165 * (100vw - 375px) / 1545);
        height: calc(60px + 20 * (100vw - 375px) / 1545);
    }

    .recommendations-card.show {
        height: calc(335px + 165 * (100vw - 375px) / 1545);
    }
    .recommendations-card-btn {
        gap: calc(12px + 12 * (100vw - 375px) / 1545);
    }
    .recommendations-card__btn-text {
        font-size: calc(24px + 12 * (100vw - 375px) / 1545);
    }
    .card-svg-icon {
        width: calc(30px + 6 * (100vw - 375px) / 1545);
        height: calc(30px + 6 * (100vw - 375px) / 1545);
    }

    .card-svg-icon-hidden {
        width: calc(20px + 10 * (100vw - 375px) / 1545);
        height: calc(20px + 10 * (100vw - 375px) / 1545);
    }

    .recommendations-card__btn-icon {
        width: calc(60px + 20 * (100vw - 375px) / 1545);
        height: calc(60px + 20 * (100vw - 375px) / 1545);
    }
    .recommendations-card-content {
        padding: calc(26px + 4 * (100vw - 375px) / 1545);
    }
    .recommendations-card-image,
    .recommendations-card__img {
        border-radius: calc(30px + 20 * (100vw - 375px) / 1545);
    }
    .recommendations-card__text {
        font-size: calc(14px + 10 * (100vw - 375px) / 1545);
    }
}
@media (max-width: 800px) {
    .recommendations {
        height: auto;

        padding-top: 50px;
        padding-bottom: 50px;
    }

    .recommendations-cards {
        height: auto;
        padding: 0;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .recommendations-card__img {
        width: 100%;
        height: auto;
    }
    .recommendations-card-content {
        height: 400px;
    }

    .recommendations-card:nth-child(1) .recommendations-card-content {
        background-image: url(../images/home/card-bg-3-mob.png);
    }
    .recommendations-card:nth-child(2) .recommendations-card-content {
        background-image: url(../images/home/card-bg-2-mob.png);
    }
    .recommendations-card:nth-child(3) .recommendations-card-content {
        background-image: url(../images/home/card-bg-1-mob.png);
    }

    .recommendations-card:nth-child(1) {
        align-self: center;
        order: 1;
    }
    .recommendations-card:nth-child(2) {
        order: 2;
    }
    .recommendations-card:nth-child(3) {
        align-self: center;
        order: 3;
    }
 
    .recommendations-card,
    .recommendations-card-content,
    .recommendations-card-btn,
    .card-svg-icon-hidden,
    .card-svg-icon,
    .recommendations-card__btn-wrap {
        transition: none;
    }
    .recommendations-card {
        height: auto;
        max-height: 400px;
    }
}

@media (max-width: 500px) {
    .recommendations-card-content {
        width: 100%;
        height: 55vh;
        max-height: 550px;
    }
    .recommendations-card {
        height: auto;
        max-height: 550px;
    }

    .recommendations-card__text {
        width: 70%;
    }
}
 */

/* ? home-bg-wrap */
.home-bg-wrap {
    /* min-height: 100%; */
    height: auto;
    position: relative;
    /* background: var(--grd); */
    background: linear-gradient(50deg, #0079e3 0%, #add9ff 100%);
    /* overflow-x: hidden; */
}

.home-bg-wrap-decor-1 {
    display: block;
    width: 550px;
    height: 550px;
    background: url(../images/decor-circle-1.svg) center / cover no-repeat;
    position: absolute;
    top: 100px;
    left: 24%;
    transform: rotate(-100deg);
    z-index: 1;
}
.home-bg-wrap-decor-2 {
    display: block;
    width: 750px;
    height: 750px;
    background: url(../images/decor-circle-1.svg) center / cover no-repeat;
    position: absolute;
    top: 250px;
    right: -100px;
    z-index: 1;
}
.home-bg-wrap-decor-3 {
    display: block;
    width: 1140px;
    height: 1140px;
    background: url(../images/decor-circle-2.svg) center / cover no-repeat;
    position: absolute;
    bottom: -200px;
    left: -360px;
    z-index: 1;
    opacity: 0.4;
    /* transform: rotate(90deg); */
}
.home-bg-wrap-decor-4 {
    display: block;
    width: 1140px;
    height: 1140px;
    background: url(../images/decor-circle-2.svg) center / cover no-repeat;
    position: absolute;
    bottom: -900px;
    right: -200px;
    z-index: 1;
    opacity: 0.4;
    /* transform: rotate(90deg); */
}

/* ? services-portfolio-wrap*/
/* ? services-portfolio-wrap*/
/* ? services-portfolio-wrap*/
/* ? services-portfolio-wrap*/
/* ? services-portfolio-wrap*/
/* ? services-portfolio-wrap*/
/* ? services-portfolio-wrap*/
/* ? services-portfolio-wrap*/
/* ? services-portfolio-wrap*/

.home-portfolio-bg {
    padding-bottom: 130px;
    position: relative;
    z-index: 2;
}
.services-portfolio-wrap {
    /* padding: 320px 0 130px; */
    padding-top: 20vh;
    /* padding-top: 16vh; */
    /* background: var(--grd); */

    /* border: 1px solid green; */
    height: auto;
}
/* ? services */
.services {
    position: relative;
}

.services__items {
    /* min-height: 100vh; */
    /* padding: 50px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 5;
}
.services__item {
    width: 440px;
    height: 440px;
    border: 1px solid var(--color-white);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    position: relative;
    /* background: green; */
    /* flex-shrink: 0; */
}

.services__item:first-child {
    position: relative;
    z-index: 10;
}
.services__item-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}
.services__item-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 300px;
}

.services-wrap {
    position: absolute;
    z-index: 5;
    inset: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.home-portfolio {
    /* overflow: hidden; */
    /* height: auto; */
    height: 100%;
    position: relative;
}

.home-portfolio-circle-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.home-portfolio-title-circle {
    display: block;
    /* position: absolute; */
    width: 440px;
    height: 440px;
    /* width: 440px;
    height: 440px; */

    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    z-index: -1;
}
.home-portfolio-circle-content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: green; */
}
.home-portfolio__title {
    /* position: absolute; */
}

.home-portfolio-desc {
    position: absolute;
    bottom: 80px;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black);
    width: 100%;
    max-width: 640px;
    /* margin: 0 auto 80px; */
}

@media (max-width: 1920px) {
    .home-portfolio-bg {
        padding-bottom: calc(50px + 80 * (100vw - 375px) / 1545);
        /* border: 1px solid green; */
    }
    .home-portfolio-title-circle,
    .services__item {
        width: calc(230px + 210 * (100vw - 1000px) / 920);
        height: calc(230px + 210 * (100vw - 1000px) / 920);
    }
    .services__item-title {
        font-size: calc(24px + 16 * (100vw - 1000px) / 920);
    }
    .services-wrap-title {
        font-size: calc(24px + 41 * (100vw - 375px) / 1545);
    }
    .home-portfolio-desc {
        font-size: calc(16px + 8 * (100vw - 375px) / 1545);

        max-width: calc(400px + 240 * (100vw - 375px) / 1545);
        bottom: calc(0px + 80 * (100vw - 1000px) / 925);
    }

    /* .home-portfolio-wrap {
        padding-top: calc(60px - 60 * (100vw - 1000px) / 925);
    } */

    .home-bg-wrap-decor-1 {
        width: calc(360px + 190 * (100vw - 375px) / 1545);
        height: calc(360px + 190 * (100vw - 375px) / 1545);
        top: calc(50px + 50 * (100vw - 375px) / 1545);
    }

    .home-bg-wrap-decor-2 {
        width: calc(422px + 328 * (100vw - 375px) / 1545);
        height: calc(422px + 328 * (100vw - 375px) / 1545);
        /* 250 */
        top: calc(500px - 250 * (100vw - 375px) / 1545);
        /* -100 */
        right: calc(-340px + 100 * (100vw - 375px) / 1545);
    }

    .home-bg-wrap-decor-3 {
        width: calc(480px + 660 * (100vw - 375px) / 1545);
        height: calc(480px + 660 * (100vw - 375px) / 1545);

        bottom: -200px;
        left: -360px;
        bottom: calc(50px - 200 * (100vw - 375px) / 1545);
        left: calc(-160px + 40 * (100vw - 375px) / 1545);
    }
    /* .home-bg-wrap-decor-3 {
        width: calc(480px + 660 * (100vw - 375px) / 1545);
        height: calc(480px + 660 * (100vw - 375px) / 1545);
        bottom: 50px;
        left: -160px;
    } */
    .home-bg-wrap-decor-4 {
        width: calc(360px + 780 * (100vw - 375px) / 1545);
        height: calc(360px + 780 * (100vw - 375px) / 1545);

        bottom: -900px;
        right: -200px;
    }
}

@media (max-width: 1440px) {
    .home-portfolio-bg {
        padding-top: 50px;
    }
}
@media (max-width: 1000px) {
    .home-portfolio-desc {
        bottom: 0;
    }
    /* .home-portfolio-wrap {
        padding-top: 60px;
    } */
    .services__items {
        /* min-height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        --overlap: 30px;
    }
    .services__item-title {
        font-size: 18px;
    }
    .home-portfolio-title-circle,
    .services__item {
        width: 210px;
        height: 210px;
        flex: 0 0 auto;
    }
    .services__item {
        margin-top: calc(-1 * var(--overlap));
    }
    /* первый круг не поднимаем */
    .services__item:first-child {
        margin-top: 0;
    }
    .services__item-desc {
        font-weight: 600;
        font-size: 10px;
        line-height: 110%;
        letter-spacing: 0.06em;
    }
    /* .services__item:nth-child(1) {
        top: 80px;
    }
    .services__item:nth-child(2) {
        top: 250px;

    }
    .services__item:nth-child(3) {
        top: 420px;
    }
    .services__item:nth-child(4) {
        top: 590px;
    } */
}

@media (max-width: 800px) {
    .services-portfolio-wrap {
        padding-top: 10vh;
    }
}
@media (max-width: 600px) {
    .services-portfolio-wrap {
        /* overflow: hidden; */

        /* padding-top: 16vh; */
    }
    .services__items {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .services__item {
        width: 210px;
        height: 210px;
        gap: 6px;
    }

    /* .services__item:nth-child(1) {
        transform: translateY(60px);
    }
    .services__item:nth-child(2) {
        transform: translateY(20px);
    }
    .services__item:nth-child(3) {
        transform: translateY(-20px);
    }
    .services__item:nth-child(4) {
        transform: translateY(-60px);
    } */
}
@media (max-width: 500px) {
}

/* ? home-portfolio */
/* ? home-portfolio */
/* ? home-portfolio */
/* ? home-portfolio */
/* ? home-portfolio */

/* ? home-portfolio */
/* ? home-portfolio */
.home-portfolio__title {
    font-weight: 400;
    font-size: 96px;
    line-height: 80%;
    text-align: center;
    color: var(--color-black);
}

.home-portfolio-wrap {
    z-index: 20;
    background: var(--color-white);
}
.home-portfolio-slider .swiper-wrapper {
    display: flex;
    gap: 0;
}
.home-portfolio__slide {
    transition: var(--transition);
}
.home-portfolio__slide:hover {
    opacity: 0.7;
}
.home-portfolio-btns-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.home-portfolio-btn-prev,
.home-portfolio-btn-next {
    width: 64px;
    height: 64px;
    border: 1px solid var(--color-black);
    border-radius: 100%;
    flex-shrink: 0;
    background: var(--color-lightgrey);
    color: var(--color-black);
}
.home-portfolio-btn-prev:hover,
.home-portfolio-btn-next:hover {
    opacity: 0.7;
}
.home-portfolio-btn-prev[disabled],
.home-portfolio-btn-next[disabled] {
    opacity: 0.3;
    cursor: auto;
}
.home-portfolio-btn-prev {
    padding-right: 5px;
}
.home-portfolio-btn-next {
    padding-left: 5px;
}
@media (max-width: 1920px) {
    .home-portfolio-btn-prev,
    .home-portfolio-btn-next {
        width: calc(44px + 20 * (100vw - 375px) / 1545);
        height: calc(44px + 20 * (100vw - 375px) / 1545);
    }
    .home-portfolio__title {
        font-size: calc(48px + 48 * (100vw - 375px) / 1545);
    }

    .home-portfolio-btn-prev svg,
    .home-portfolio-btn-next svg {
        height: calc(20px + 10 * (100vw - 375px) / 1545);
    }
}

/* ? section 2 */
/* ? section 2 */
/* ? section 2 */
/* ? section 2 */
/* ? section 2 */
.preloader,
.header,
.hero,
.recommendations,
.services,
.services-portfolio-wrap,
.appointment,
.footer {
    /* display: none; */
}

.recommendations {
    position: relative;
    z-index: 5;
    height: calc(var(--vh, 1vh) * 100);
}
.recommendations-cards {
    max-width: var(--container);
    padding: 0 40px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 10;
}
.recommendations-card {
    position: relative;
    width: 500px;

    height: 100%;
    max-height: 80px;

    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    cursor: default;

    --transition: 420ms cubic-bezier(0.2, 0.9, 0.2, 1);
    transition: height var(--transition) 0.2s;

    will-change: transform, height;
}

.recommendations-card:nth-child(2) {
    color: var(--color-white);
}

.recommendations-card.show {
    max-height: 500px;
    transition: all var(--transition);
}

.recommendations-card:nth-child(1) {
    --bg-color-card: var(--color-yellow);
    align-self: flex-start;
    order: 3;
}
.recommendations-card:nth-child(2) {
    --bg-color-card: var(--color-pink);
    order: 2;
}
.recommendations-card:nth-child(3) {
    --bg-color-card: var(--color-green);
    align-self: flex-end;
    order: 1;
}
.recommendations-card-content {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}
.recommendations-card:nth-child(1) .recommendations-card-content {
    background-image: url(../images/home/card-bg-3.png);
}
.recommendations-card:nth-child(2) .recommendations-card-content {
    background-image: url(../images/home/card-bg-2.png);
}
.recommendations-card:nth-child(3) .recommendations-card-content {
    background-image: url(../images/home/card-bg-1.png);
}

.recommendations-card-content {
    width: 100%;
    height: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 0;
    border-radius: 60px;
}
.recommendations-card.show .recommendations-card-content {
    transition: all var(--transition);

    opacity: 1;
}

.card-svg-bg {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 1;
    display: none;
}
.card-svg-bg-mob {
    display: none;
}
.recommendations-card-image {
    overflow: hidden;
    border-radius: 50px;

    transition: opacity 0.1s ease;
}

.recommendations-card__img {
    border-radius: 50px;
    position: relative;
    z-index: 5;
}

.recommendations-card__text {
    position: relative;
    z-index: 5;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;

    width: 65%;
    align-self: flex-end;
}

.recommendations-card-btn {
    display: flex;
    gap: 24px;
}
.recommendations-card__btn-icon {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color-card);
    border-radius: 100%;
    flex-shrink: 0;
}
.card-svg-icon {
    width: 36px;
    height: 36px;
    opacity: 1;

    transition: opacity 0.1s ease-in-out 0.2s;
}

.card-svg-icon-hidden {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.recommendations-card.show .card-svg-icon {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.recommendations-card.show .card-svg-icon-hidden {
    opacity: 1;
    transition: opacity 0.1s ease-in-out 0.2s;
}

.recommendations-card__btn-wrap {
    padding: 10px;
    border-radius: 60px;
    background: var(--bg-color-card);
    cursor: default;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.1s ease-in-out 0s;
}
.recommendations-card.show .recommendations-card__btn-wrap {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.recommendations-card__btn-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    white-space: nowrap;
}

@media (max-width: 1920px) {
    .recommendations {
        padding-left: calc(20px + 20 * (100vw - 375px) / 1545);
        padding-right: calc(20px + 20 * (100vw - 375px) / 1545);
    }

    .recommendations-card-content {
        height: calc(335px + 165 * (100vw - 375px) / 1545);
    }
    .recommendations-card {
        width: calc(335px + 165 * (100vw - 375px) / 1545);
        height: calc(60px + 20 * (100vw - 375px) / 1545);
    }

    .recommendations-card.show {
        height: calc(335px + 165 * (100vw - 375px) / 1545);
    }
    .recommendations-card-btn {
        gap: calc(12px + 12 * (100vw - 375px) / 1545);
    }
    .recommendations-card__btn-text {
        font-size: calc(24px + 12 * (100vw - 375px) / 1545);
    }
    .card-svg-icon {
        width: calc(30px + 6 * (100vw - 375px) / 1545);
        height: calc(30px + 6 * (100vw - 375px) / 1545);
    }

    .card-svg-icon-hidden {
        width: calc(20px + 10 * (100vw - 375px) / 1545);
        height: calc(20px + 10 * (100vw - 375px) / 1545);
    }

    .recommendations-card__btn-icon {
        width: calc(60px + 20 * (100vw - 375px) / 1545);
        height: calc(60px + 20 * (100vw - 375px) / 1545);
    }
    .recommendations-card-content {
        padding: calc(26px + 4 * (100vw - 375px) / 1545);
    }
    .recommendations-card-image,
    .recommendations-card__img {
        border-radius: calc(30px + 20 * (100vw - 375px) / 1545);
    }
    .recommendations-card__text {
        font-size: calc(14px + 10 * (100vw - 375px) / 1545);
    }
}
@media (max-width: 1100px) {
    .recommendations {
        height: auto;

        padding-top: 50px;
        padding-bottom: 50px;
    }

    .recommendations-cards {
        height: auto;
        padding: 0;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: calc(20px + 20 * (100vw - 375px) / 725);
    }

    .recommendations-card__img {
        width: 100%;
        height: auto;
    }
    /* .recommendations-card-content {
        height: 400px;
    } */

    .recommendations-card:nth-child(1) .recommendations-card-content {
        background-image: url(../images/home/card-bg-3-mob.png);
    }
    .recommendations-card:nth-child(2) .recommendations-card-content {
        background-image: url(../images/home/card-bg-2-mob.png);
    }
    .recommendations-card:nth-child(3) .recommendations-card-content {
        background-image: url(../images/home/card-bg-1-mob.png);
    }

    .recommendations-card:nth-child(1) {
        align-self: center;
        order: 1;
    }
    .recommendations-card:nth-child(2) {
        order: 2;
    }
    .recommendations-card:nth-child(3) {
        align-self: center;
        order: 3;
    }

    .recommendations-card,
    .recommendations-card-content,
    .recommendations-card-btn,
    .card-svg-icon-hidden,
    .card-svg-icon,
    .recommendations-card__btn-wrap {
        transition: none;
    }
    /* ? */
    /* ? */
    /* ? */
    /* ? */
    /* ? */
    /* ? */
    .recommendations {
        /* height: 2600px; */
        position: relative;
    }
    .recommendations-cards {
        position: sticky;
        top: 0;
        padding-top: 50px;
    }
    .recommendations-card {
        height: 400px;
        max-height: 400px;
    }
    .recommendations-card-content {
        height: 400px;
        opacity: unset;
    }
}

@media (max-width: 500px) {
    .recommendations-card-content {
        width: 100%;
        height: 55vh;
        max-height: 550px;
    }
    .recommendations-card {
        height: 55vh;
        max-height: none;
        /* height: auto;
        max-height: 550px; */
    }

    .recommendations-card__text {
        width: 70%;
    }
}
